@charset "UTF-8";

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: auto;
    background: #fffdf5;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.title {
    margin-bottom: 30px;
    padding-left: 20px;
    font-size: 28px;
    color: #333;
}

.meta {
    font-size: 16px;
    color: #777;
    margin-bottom: 20px;
    text-align: right;
}

	.meta span {
	    margin-right: 15px;
	}

.content {
    font-size: 20px;
    min-height: 300px;
    line-height: 1.7;
    color: #444;
    background-color: beige;
    margin-bottom: 30px;
    white-space: pre-wrap;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.reaction {
    font-size: 14px;
    color: #555;
    margin-bottom: 20px;
    text-align: center;
}

	.reaction button {
		font-size: 15px;
	    border: none;
	    background-color: #fffdf5;
	}
	.reaction button:hover {
		cursor: pointer;
	}

.buttons {
	margin: 10px auto;
	text-align: center;
}
	.buttons button {
	    padding: 8px 16px;
	    margin-right: 10px;
	    border: none;
	    background-color: #f7c59f;
	    color: #4b2e18;
	    border-radius: 5px;
	    cursor: pointer;
	    font-weight: bold;
	}
	
	.buttons button:hover {
	    background-color: #e6b07f;
	}
